{% extends 'pattern.html' %}
{% load static %}

{% block title %}
create quiz
{% endblock %}

{% block body %}
<form action="{% url 'create_quiz' %}" method="POST">
    {% csrf_token %}
    {{ ques_form.as_p }}

    {{ ques_set.management_form }}
    <div id="ques_set_area">
        {% for ques_form in ques_set.forms %}
            <div class="ques-form">
                {{ ques_form.as_p }}
                <p>ques num: {{ forloop.counter }} ой блет</p>

                <div class="ans-area">
                    {{ ans_sets.forloop.counter0.management_form }}
                    {% for ans_form in ans_sets.forloop.counter0.forms %}
                        <p>ans num: {{ forloop.counter }}</p>
                        <div class="ans-form">
                            {{ ans_form.as_p }}
                            <button type="button" class="remove-answer">Remove answer</button>
                        </div>
                    {% endfor %}
                </div>

                <button type="button" class="add-answer">Add answer</button>
                <button type="button" class="remove-question">Remove question</button>
            </div>
        {% endfor %}
    </div>

    <button type="button" id="add-ques">Add question</button>
    <button type="submit">Send</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/quiz_form.js' %}"></script>
{% endblock %}