{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel = "stylesheet" href="{% static "css/styles.css" %}">
	<script type = "text/javascript" src = "{% static "js/scripts.js"%}"></script>
</head>
<body>
	<div class = "header">
		
		<a href = "{% url 'main' %}">main</a>
		<a href = "{% url 'quiz_list' %}">Quiz list</a>
		{% if user.is_authenticated %}
		<form class = "common_btn" action="{% url 'logout' %}" method="post">

			{% csrf_token %}
		
			<button type="submit">Log out</button>
		
		</form>

		<a href = "{% url 'create_quiz' %}">create_quiz</a>
		{% else %}
		<a class = "to_end" href = "{% url 'login' %}">login</a>
		<a class = "to_end" href = "{% url 'register' %}">register</a>
		{% endif %}
	</div>
	<div class = "main">
		<p>You: {{ user }}</p>
		{% block body %}{% endblock %}
	</div>
</body>
</html>
