{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel = "stylesheet" href="{% static "css/styles.css" %}">
	<!-- <script type = "text/javascript" src = "{% static "js/scripts.js"%}"></script> -->
</head>
<body>
	<div class="header">
		<div class="nav-buttons" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
			<div style="display: flex; gap: 15px;">
				<a class="button" href="{% url 'main' %}">Main</a>
				<a class="button" href="{% url 'quiz_list' %}">Quiz List</a>
				{% if user.is_authenticated %}
					<a class="button" href="{% url 'quiz_results' %}">Quiz Results</a>
					<a class="button" href="{% url 'create_quiz' %}">Create Quiz</a>
				{% endif %}
			</div>
	
			<div style="display: flex; gap: 15px;">
				{% if user.is_authenticated %}
					<a class="button" href="{% url 'personal_account' %}">Profile</a>
					<form class="common_btn" action="{% url 'logout' %}" method="post" style="margin: 0;">
						{% csrf_token %}
						<button type="submit" class="button">Log Out</button>
					</form>
				{% else %}
					<a class="button" href="{% url 'login' %}">Login</a>
					<a class="button" href="{% url 'register' %}">Register</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class = "main">
		{% block body %}{% endblock %}
	</div>

	{% block scripts %}{% endblock %}
</body>
</html>