{% extends 'pattern.html' %}

{% block title %}
quiz{{data.id}}
{% endblock %}

{% block body %}

    <div class = ques_list>
        {% for i in all_questions %}
            <a href = "{% url 'quiz_num' cur_test.id %}">
            <!-- Изменить т.к. он постоянно обращается в бд за повторяющимися данными -->
                <div class = ques_link>
                    <p>
                        {{forloop.counter}}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
