:root
{
    --bg-body: rgb(85, 67, 74);
    --bg-input-block: rgb(39, 26, 26);
    --txt-col: rgb(255, 255, 255);
    --ques-link-bg: rgb(201, 132, 132);
}

body
{
    background-color: var(--bg-body);
    color: var(--txt-col);
}

a
{
	color: white;
}

.ques_list
{
    display: flex;
    color: black;
}

.ques_link
{
    background: var(--ques-link-bg);
    width: 50px;
    height: 50px;
    margin: 10px;
}

#input
{

    background: var(--bg-input-block);
    width: 500px;
    height: 700px;
    border-radius: 50px;
}